<!-- <div class="view intro jarallax jarallax_about_banner">
<div class="full-bg-img xmask xrgba-white-light">
  <div class="container-fluid">
    <div class="d-flex align-items-center d-flex justify-content-center" style="height: 500px">
      <div class="row mt-5">
        <div class="col-md-12 wow fadeIn mb-3">

        </div>
      </div>
    </div>
  </div>
</div>
</div> -->
<div class="jarallax_about_banner"></div>

<!-- <div class="container-fluid">
  <div class="row about-description1">
    <div class="text-center" style="padding:25px;padding-bottom: 0px;">
      <p align="justify">
        Our River, Our Life is dedicated to creating a citizen science platform for stream and river monitoring efforts, thus facilitating a voice for citizens by means of water quality testing, landscape monitoring and observations on flora and fauna, along with visual media documentation. The goal is to provide seamless data sharing, with geospatial data to give it perspective and focus, bringing waterways the much needed attention that is required.
        A wide array of approaches can be applied to stream and river monitoring, but more often various factors contributing to river health are intertwined with each other. This approach takes into consideration a broad spectrum of activities one can engage in, contributing to research and monitoring efforts, which can lead to location specific solutions which are more practical in nature. The philosophy and science of it emphasises on learning together, to better understand and respect the lifelines that support our very existence, through physical, chemical, biological and socio-ecological elements,  that make up our riverscapes.
      </p>
    </div>
  </div>
</div> -->
<!-- <div class="view intro jarallax parallax-about-banner">
<div class="">
  <div class="container">
    <div class="d-flex align-items-center d-flex justify-content-center">
      <div class="row">
        <div class="col-md-12 wow fadeInx mb-3">
          <div class="intro-info-content text-center">
            <h1 class="text-center wow fadeInDown" data-wow-delay="0.3s" style="padding-top: 75px;"><span style="color:#116bb5;font-weight: 800;">Why monitoring matters?</span></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->
<div class="banner">
  <h2 class="text-center"><span style="color:#116bb5;font-weight: 800;">Organizing the most unorganized sector,
      “Agriculture"</span></h2>
</div>
<div class="container-fluid">
  <div class="row" style="xpadding-top:1rem; xpadding-bottom:3rem; background-color:#f7f7f7">
    <div class="col-lg-6 text-center d-flex" style="align-items:center">
      <p align="justify" class="about-description"></p>
    </div>Aims to provide access to affordable and quality service to farmers as well as consumers in India. An
    initiative to improve the lives of Farmers across India.

  </div>
</div>

<!-- <div class="view intro jarallax parallax-about-banner">
  <div class="">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center">
        <div class="row">
          <div class="col-md-12 wow fadeInx mb-3">
            <div class="intro-info-content text-center">
              <h1 class="text-center wow fadeInDown" data-wow-delay="0.3s" style="padding-top: 75px;"><span style="color:#116bb5;font-weight: 800;">Is monitoring simple and can anyone do it? </span></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="banner">
  <h2 class="text-center"><span style="color:#116bb5;font-weight: 800;"> VISION – DETERMINATION – EXPANSION
      प्रतीक्षित – परीक्षित – प्रमाणित</span></h2>
</div>
<div class="container-fluid">
  <div class="row" style="xpadding-top:1rem; xpadding-bottom:3rem; background-color:#f7f7f7">
    <div class="col-lg-6 text-center d-flex" style="align-items:center">
      <p align="justify" class="about-description"></p>
    </div>

    A dedicated business model to empower farming community. Building a digital Agri-tech platform that will create a
    sustainable agriculture ecosystem. Establishment of a profitable business with positive social impact.
    Why Pranam Kisan:

    Organizing “The Middleman” of Agri supply chain, instead of trying to eliminating them.
    Employment opportunity for farming community.
    To integrate farms, farmers, vendors/traders & Customers at a common platform to organize the agribusiness sector.
    Real time data analysis about current and future cropping pattern of every acre of land.
    Transparent market linkage
    New opportunities for landless farmers and poor farm workers.

  </div>
</div>
<!-- <div class="view intro jarallax parallax-about-banner">
  <div class="">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center">
        <div class="row">
          <div class="col-md-12 wow fadeIn">
            <div class="intro-info-content text-center">
              <h1 class="text-center wow fadeInDown" data-wow-delay="0.3s" style="padding-top: 75px;"><span style="color:#116bb5;font-weight: 800;">How citizen science can help with observations? </span></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="banner">
  <h2 class="text-center"><span style="color:#116bb5;font-weight: 800;"> What is Pranam Kisan:</span></h2>
</div>
<div class="container-fluid">
  <div class="row" style="xpadding-top:1rem; xpadding-bottom:3rem; background-color:#f7f7f7">
    <div class="col-lg-6 text-center d-flex" style="align-items:center">
      <p align="justify" class="about-description"></p>
    </div>

    A dedicated business model to empower farming community. Building a digital Agri-tech platform that will create a
    sustainable agriculture ecosystem. Establishment of a profitable business with positive social impact.


  </div>
</div>
<div class="banner">
  <h2 class="text-center"><span style="color:#116bb5;font-weight: 800;">
      Why Pranam Kisan:</span></h2>
</div>
<div class="container-fluid">
  <div class="row" style="xpadding-top:1rem; xpadding-bottom:3rem; background-color:#f7f7f7">
    <div class="col-lg-6 text-center d-flex" style="align-items:center">
      <p align="justify" class="about-description"></p>
    </div>

    Organizing “The Middleman” of Agri supply chain, instead of trying to eliminating them.
    Employment opportunity for farming community.
    To integrate farms, farmers, vendors/traders & Customers at a common platform to organize the agribusiness sector.
    Real time data analysis about current and future cropping pattern of every acre of land.
    Transparent market linkage
    New opportunities for landless farmers and poor farm workers.

  </div>
</div>