<div class="features d-md-flex">
<div >
<mdb-accordion>
  <mdb-accordion-item class="col-lg-3">
    <mdb-accordion-item-head>
      <div class="text-center">
       
        <h3 class="feature-heading wow fadeInUp" data-wow-delay="0.6s">Agri Advisory</h3>

      </div>
      <p class="min-text">– Real time assistance by subject matter experts, troubleshooting, Q&A 
        sessions, Feasibility analysis for individual farmer and farm land
        </p>
      <div class="text-center">
      <mdb-icon fas icon="angle-down" style="color:#34495e" (click)="feature1_show = true" *ngIf="!feature1_show"></mdb-icon>
      <mdb-icon fas icon="angle-up" style="color:#34495e" (click)="feature1_show = false" *ngIf="feature1_show"></mdb-icon>
      </div>
    </mdb-accordion-item-head>
    <mdb-accordion-item-body>
      <p class="feature-description">
         Pre & Post sowing assistance,
         Pre & Post harvest assistance,
         Crop management
      </p>
    </mdb-accordion-item-body>
  </mdb-accordion-item>
  <mdb-accordion-item class="col-lg-3">
    <mdb-accordion-item-head>
      <div class="text-center">
       
        <h3 class="feature-heading wow fadeInUp" data-wow-delay="0.6s">Inputs</h3>

      </div>
      <p class="min-text"> Quality, Availability, Price analysis report, Doses, Recommendations
        </p>
      <div class="text-center">
      <mdb-icon fas icon="angle-down" style="color:#34495e" (click)="feature1_show = true" *ngIf="!feature1_show"></mdb-icon>
      <mdb-icon fas icon="angle-up" style="color:#34495e" (click)="feature1_show = false" *ngIf="feature1_show"></mdb-icon>
      </div>
    </mdb-accordion-item-head>
    <mdb-accordion-item-body>
      <p class="feature-description">
        Seeds,
        Fertilizers, Pesticides, Insecticides, Herbicides,
        Application on Field by Drones
      </p>
    </mdb-accordion-item-body>
  </mdb-accordion-item>

  <mdb-accordion-item class="col-lg-3">
    <mdb-accordion-item-head>
      <div class="text-center">
       
        <h3 class="feature-heading wow fadeInUp" data-wow-delay="0.6s">Equipment  </h3>

      </div>
      <p class="min-text">Machinery and tools requirements and availability, Recommendations
        </p>
      <div class="text-center">
      <mdb-icon fas icon="angle-down" style="color:#34495e" (click)="feature1_show = true" *ngIf="!feature1_show"></mdb-icon>
      <mdb-icon fas icon="angle-up" style="color:#34495e" (click)="feature1_show = false" *ngIf="feature1_show"></mdb-icon>
      </div>
    </mdb-accordion-item-head>
    <mdb-accordion-item-body>
      <p class="feature-description">
        Sale, Service and Spares (partnership with OEMs, Dealers, Mechanics),
        Rental facility (Uberization of all equipment’s, Farmer can list their equipment and 
        also raise demand for the same), 
        Drones, Sensors
      </p>
    </mdb-accordion-item-body>
  </mdb-accordion-item>

  <mdb-accordion-item class="col-lg-3">
    <mdb-accordion-item-head>
      <div class="text-center">
       
        <h3 class="feature-heading wow fadeInUp" data-wow-delay="0.6s">Financial support </h3>

      </div>
      <p class="min-text"> Eligibility and cost analysis, Recommendations
        </p>
      <div class="text-center">
      <mdb-icon fas icon="angle-down" style="color:#34495e" (click)="feature1_show = true" *ngIf="!feature1_show"></mdb-icon>
      <mdb-icon fas icon="angle-up" style="color:#34495e" (click)="feature1_show = false" *ngIf="feature1_show"></mdb-icon>
      </div>
    </mdb-accordion-item-head>
    <mdb-accordion-item-body>
      <p class="feature-description">
        Loan, 
       Insurance, 
       Subsidy, 
      Credit Limit/Score, 
      Micro finance 
      </p>
    </mdb-accordion-item-body> 
  </mdb-accordion-item> 

   <mdb-accordion-item class="col-lg-3">
    <mdb-accordion-item-head>
      <div class="text-center">
       
        <h3 class="feature-heading wow fadeInUp" data-wow-delay="0.6s">Storage & Warehousing   </h3>

      </div>
      <p class="min-text">– Feasibility and recommendations
        </p>
      <div class="text-center">
      <mdb-icon fas icon="angle-down" style="color:#34495e" (click)="feature1_show = true" *ngIf="!feature1_show"></mdb-icon>
      <mdb-icon fas icon="angle-up" style="color:#34495e" (click)="feature1_show = false" *ngIf="feature1_show"></mdb-icon>
      </div>
    </mdb-accordion-item-head>
    <mdb-accordion-item-body>
      <p class="feature-description">
         Stock management,
         Stock credit facility,
        Stock trading 
      </p>
    </mdb-accordion-item-body>
  </mdb-accordion-item>  <mdb-accordion-item class="col-lg-3">
    <mdb-accordion-item-head>
      <div class="text-center">
       
        <h3 class="feature-heading wow fadeInUp" data-wow-delay="0.6s">Logistics  </h3>

      </div>
      <p class="min-text">Availability, Feasibility and recommendations 
        </p>
      <div class="text-center">
      <mdb-icon fas icon="angle-down" style="color:#34495e" (click)="feature1_show = true" *ngIf="!feature1_show"></mdb-icon>
      <mdb-icon fas icon="angle-up" style="color:#34495e" (click)="feature1_show = false" *ngIf="feature1_show"></mdb-icon>
      </div>
    </mdb-accordion-item-head>
    <mdb-accordion-item-body>
      <p class="feature-description">
        Private & Public transport, 
        Transport pooling 
      </p>
    </mdb-accordion-item-body>
  </mdb-accordion-item>  <mdb-accordion-item class="col-lg-3">
    <mdb-accordion-item-head>
      <div class="text-center">
       
        <h3 class="feature-heading wow fadeInUp" data-wow-delay="0.6s">Farm modernization and Energy (Biomass, Solar)
        </h3>

      </div>
      <div class="text-center">
      <mdb-icon fas icon="angle-down" style="color:#34495e" (click)="feature1_show = true" *ngIf="!feature1_show"></mdb-icon>
      <mdb-icon fas icon="angle-up" style="color:#34495e" (click)="feature1_show = false" *ngIf="feature1_show"></mdb-icon>
      </div>
    </mdb-accordion-item-head>
    <mdb-accordion-item-body>
      <p class="feature-description">
        Farm Development with advance farming methods, 
        Farm Automation, 
         Renewable Energy
        
      </p>
    </mdb-accordion-item-body>
  </mdb-accordion-item>  <mdb-accordion-item class="col-lg-3">
    <mdb-accordion-item-head>
      <div class="text-center">
       
        <h3 class="feature-heading wow fadeInUp" data-wow-delay="0.6s">Market Linkage  </h3>

      </div>
      <p class="min-text"> On demand supply, Pre-harvest trading system, Price analysis report
        </p>
      <div class="text-center">
      <mdb-icon fas icon="angle-down" style="color:#34495e" (click)="feature1_show = true" *ngIf="!feature1_show"></mdb-icon>
      <mdb-icon fas icon="angle-up" style="color:#34495e" (click)="feature1_show = false" *ngIf="feature1_show"></mdb-icon>
      </div>
    </mdb-accordion-item-head>
    <mdb-accordion-item-body>
      <p class="feature-description">
        Demand (Individual customer subscription & Pooling system), 
        Supply (Individual Farmer capacity & Farmer Pooling system),
         Future crop and price by location, 
      </p>
    </mdb-accordion-item-body>
  </mdb-accordion-item>
</mdb-accordion>
</div>
</div>
